# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Udemy\Rest_Assured\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
